.about-us {
  padding-top: 96px;

  @include on-tablet {
    padding-top: 120px;
  }

  &__image {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    height: 200px;
    background-image: url(/images/timeless-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include on-tablet {
      height: 400px;
      background-image: url(/images/timeless-tablet.png);
    }

    @include on-desktop {
      height: 460px;
      background-image: url(/images/timeless-desktop.png);
    }
  }

  &__container {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding-block: 48px;
    padding-inline: calc((100vw - 100%) / 2);
    background-color: #fcfaef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

    @include on-tablet {
      padding-block: 120px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: start;
    }

    @include on-desktop {
      gap: 111px;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }
}
